/** @format */

.badge {
	background: #168b6d;
	color: white;
	border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	flex-wrap: wrap;
	padding: 6px;
	width: 100%;
	margin-top: 10px;
}

@media (max-width: 1024px) {
	.container {
		width: 120%;
		background: #000;
	}
}
/* @media (max-width: 700px) {
	.container {
		width: 300px;
	}
	.table {
		width: 300px !important;
		padding: 0;
		margin: 0;
	}
} */
