/** @format */

.accordionContainer {
	margin-top: 15px;
	width: 1100px;
}
.accordion-button {
	background-color: rgba(123, 122, 122, 0.09) !important;
	max-height: 50px !important;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	color: #212529;
}
/* Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.accordionContainer {
		margin-top: 15px;
		margin-left: -10px;

		width: 700px;
	}
}
/* Phone */
@media (max-width: 700px) {
	.accordionContainer {
		margin-top: 15px;
		margin-left: -18px;

		width: 360px;
	}
}
