/** @format */

.containerForHome {
	min-width: 100%;
	flex: 4;
	display: flex;
	width: 100%;
	/* background-color: rgba(243, 244, 246, 1); */
	background-color: #fafbfc;
	overflow-x: hidden;
}
.main {
	flex: 4;
	/* background-color: rgba(243, 244, 246, 1); */
	/* width: 100%; */
	background-color: #fafbfc;
	overflow-x: hidden;
	
}
.main2 {
	flex: 4;
	/* background-color: rgba(243, 244, 246, 1); */
	background-color: #fafbfc;

	min-width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
.link {
	text-decoration: none;
	color: inherit;
}
/* Tablets */
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	
	} */

/* Phone */
/* @media (max-width: 700px) {
	
} */
